/* fonts */
:root {
    --logo-font: "Figtree";
    --primary-font: "Merriweather";
}

/* colors */
:root {
    --primary-color1: #068466;
    --primary-color2: #009e87;
    --button-color: #ffdaa5;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

/* navbar */
.navbar {
    margin-bottom: 1rem;
}

.container .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color1);
    font-family: var(--logo-font);
}

.nav-link {
    color: var(--primary-color2);
}

.nav-link:hover {
    border-bottom: 1px solid var(--primary-color1);
}

.btn-signup {
    border: 1px solid var(--primary-color1);
    color: var(--primary-color1);
    border-radius: 20px;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    text-decoration: none;
}

.btn-signup:hover {
    background-color: var(--primary-color1);
    color: #fff;
}

.search-icon {
    font-size: 1.2rem;
    color: #008060;
    cursor: pointer;
}

/* hero */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.hero-container {
    padding-left: 2rem;
    max-width: 1200px;
    width: 100%;
}

.hero-row h1 {
    font-size: 2.5rem;
    color: #0578ff;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: var(--primary-font);
}

p {
    color: #1c1c1c;
    font-size: 1rem;
    margin-bottom: 30px;
}

.get-started-button {
    display: inline-block;
    border: 1px solid var(--primary-color1);
    color: var(--primary-color1);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 0.5rem 0.75rem;
}

.get-started-button:hover {
    background-color: var(--primary-color1);
    color: #fff;
}

img {
    max-width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .btn-signup {
        margin: 0.5rem 0;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .hero-img {
        display: none;
    }

    .btn-primary {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

/* blogs */
.blog-card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-card img {
    object-fit: cover;
    height: 200px;
    transition: transform 0.3s ease;
}

.blog-card img:hover {
    transform: scale(1.1);
}

.blog-title {
    font-size: 0.75rem;
    color: var(--primary-color2);
    font-weight: bold;
    text-transform: uppercase;
}

.blog-description {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--primary-color1);
}

.learn-more {
    color: var(--primary-color1);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.75rem;
}

.learn-more:hover {
    text-decoration: underline;
}

/* carousel */
.carousel-container h2 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color1);
}

.carousel-container .highlight {
    color: var(--primary-color2);
    font-weight: 800;
}

.carousel-container {
    text-align: center;
    margin-top: 4rem;
}

#illness-carousel {
    transition: opacity 0.5s ease-in-out;
}

.services-link {
    color: var(--primary-color1);
    font-weight: bold;
    text-decoration: none;
}

.services-link:hover {
    text-decoration: underline;
}

/* membership benefits */
.benefits-container {
   background-color: #EEF6F4;
}

.benefits-title {
    color: var(--primary-color1);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.benefits-list {
    list-style: none;
    padding: 0;
}

.benefits-list li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.benefits-list li svg {
    margin-right: 0.75rem
}

.read-more-button{
    border: 1px solid var(--primary-color1);
    text-decoration: none;
    border-radius: 20px;
    color: var(--primary-color1);
    padding: 0.5rem 0.75rem;
}

.read-more-button:hover{
    background-color: var(--primary-color1);
    color: #fff;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .carousel-container {
       padding-top: 2rem;
    }
}
