/* fonts */
:root {
    --logo-font: "Figtree";
    --primary-font: "Merriweather";
}

/* colors */
:root {
    --primary-color1: #068466;
    --primary-color2: #009e87;
    --button-color: #ffdaa5;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

/* navbar */
.navbar {
    margin-bottom: 1rem;
}

.container .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color1);
    font-family: var(--logo-font);
}

.nav-link {
    color: var(--primary-color2);
}

.nav-link:hover {
    border-bottom: 1px solid var(--primary-color1);
}

.btn-signup {
    border: 1px solid var(--primary-color1);
    color: var(--primary-color1);
    border-radius: 20px;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    text-decoration: none;
}

.btn-signup:hover {
    background-color: var(--primary-color1);
    color: #fefefe;
}

.search-icon {
    font-size: 1.2rem;
    color: #008060;
    cursor: pointer;
}

/* hero */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
}

.hero-container {
    padding-left: 2rem;
    max-width: 1200px;
    width: 100%;
}

.hero-row h1 {
    font-size: 2.5rem;
    color: #0578ff;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: var(--primary-font);
}

p {
    color: #1c1c1c;
    font-size: 1rem;
    margin-bottom: 30px;
}

.get-started-button {
    display: inline-block;
    border: 1px solid var(--primary-color1);
    color: var(--primary-color1);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 0.5rem 0.75rem;
}

.get-started-button:hover {
    background-color: var(--primary-color1);
    color: #fefefe;
}

img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .btn-signup {
        margin: 0.5rem 0;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .hero-img {
        display: none;
    }

    .get-started-button {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .btn-signup{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

/* blogs */
.blog-card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-card img {
    object-fit: cover;
    height: 200px;
    transition: transform 0.3s ease;
}

.blog-card img:hover {
    transform: scale(1.1);
}

.blog-title {
    font-size: 0.75rem;
    color: var(--primary-color2);
    font-weight: bold;
    text-transform: uppercase;
}

.blog-description {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--primary-color1);
}

.learn-more {
    color: var(--primary-color1);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.75rem;
}

.learn-more:hover {
    text-decoration: underline;
}

/* carousel */
.carousel-container h2 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color1);
}

.carousel-container .highlight {
    color: var(--primary-color2);
    font-weight: 800;
}

.carousel-container {
    text-align: center;
    margin-top: 4rem;
}

#illness-carousel {
    transition: opacity 0.5s ease-in-out;
}

.services-link {
    color: var(--primary-color1);
    font-weight: bold;
    text-decoration: none;
}

.services-link:hover {
    text-decoration: underline;
}

/* membership benefits */
.benefits-container {
    background-color: #eef6f4;
}

.benefits-title {
    color: var(--primary-color1);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.benefits-list {
    list-style: none;
    padding: 0;
}

.benefits-list li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.benefits-list li svg {
    margin-right: 0.75rem;
}

.read-more-button {
    border: 1px solid var(--primary-color1);
    text-decoration: none;
    border-radius: 20px;
    color: var(--primary-color1);
    padding: 0.5rem 0.75rem;
}

.read-more-button:hover {
    background-color: var(--primary-color1);
    color: #fefefe;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .carousel-container {
        padding-top: 2rem;
    }
}

/* reasons to choose */
.reason-header {
    text-align: center;
}

.reason-header h1 {
    color: var(--primary-color1);
    font-size: 2rem;
    font-weight: bold;
}

.reason-header p {
    color: var(--primary-color1);
}

.read-more {
    color: var(--primary-color1);
    font-weight: bold;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

.feature-card {
    height: 250px;
    text-align: center;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #fefefe;
    transition: transform 0.2s;
}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
}

.feature-card p {
    color: var(--primary-color1);
}

.feature-card span {
    color: var(--primary-color2);
    font-size: 1rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
}

.feature-card span:hover {
    text-decoration: underline;
}

/* get membership */
.membership-container {
    background-color: var(--primary-color1);
    text-align: center;
}

.membership-header h1 {
    color: #fefefe;
    font-weight: bold;
    margin-bottom: 20px;
}

.membership-header .learn-more {
    color: #fefefe;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 20px;
}

.membership-header .learn-more:hover {
    text-decoration: underline;
}

.join-button {
    background-color: #fefefe;
    color: var(--primary-color1);
    border-radius: 20px;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.join-button:hover {
    border: 1px solid #fefefe;
    background-color: var(--primary-color1);
    color: #fefefe;
}

/* youtube */
.youtube-container {
    text-align: center;
}

.youtube-container h2 {
    color: var(--primary-color1);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.video-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.video-container img {
    width: 100%;
    height: auto;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

/* company-carousel */
.company-container {
    text-align: center;
    margin: 50px 0;
}

.company-container h2 {
    color: var(--primary-color1);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.carousel-inner .icon {
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 2rem;
}

.learn-more-link {
    display: block;
    color: var(--primary-color1);
    font-weight: bold;
    text-decoration: none;
}

.learn-more-link:hover {
    text-decoration: underline;
}

/* footer */
.footer {
    background: linear-gradient(to right, #005450 0%, #00bab1 100%);
    color: #fefefe;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
}

.footer-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.join-now-button {
    background-color: #fefefe;
    color: #005450;
    border-radius: 20px;
    border: none;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.join-now-button:hover {
    border: 1px solid #fefefe;
    background-color: inherit;
    color: #fefefe;
}

.footer ul {
    padding-left: 0;
}

.footer h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #f1f1f1;
    font-weight: bold;
}

.footer a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: lighter;
}

.footer a:hover {
    text-decoration: underline;
}

.socials-container {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    align-items: center;
}

.socials .icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.footer .border-top {
    border-color: #e5e5e5;
}

.footer .location,
.footer .copyright {
    color: #fefefe;
}
